@charset "utf-8";

body {
  color: aliceblue;
  font: normal 15pt Arial;
  text-align: center;
}

header {
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
  margin-bottom: 70px;
}

section {
  margin: auto;
  background: rgba(255, 255, 255, 0.85);
  color: #303030;
  width: 650px;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px;
}

footer {
  font-style: italic;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
  margin-top: 200px;
}

div#msg {
  font-weight: bold;
  padding: 15px;
}

div#foto {
  padding: 5px;
}
